{{ $links := .Site.Params.links }}
<footer class="cki-footer py-5 row d-print-none">
  <div class="container-fluid">
    <div class="row mx-1 mx-lg-3">
      {{ with $links }}
      {{ with index . "left"}}
      <div class="col-lg">
        {{ template "footer-links-block"  . }}
      </div>
      {{ end }}
      {{ end }}
      {{ with $links }}
      {{ with index . "middle"}}
      <div class="col-lg">
        {{ template "footer-links-block"  . }}
      </div>
      {{ end }}
      {{ end }}
      {{ with $links }}
      {{ with index . "right"}}
      <div class="col-lg text-right">
        {{ template "footer-links-block"  . }}
      </div>
      {{ end }}
      {{ end }}
      <div class="w-100"></div>
      <div class="col text-lg-center pt-lg-4">
        {{ with .Site.Params.copyright }}<small>&copy; {{ now.Year}} {{ .}} {{ T "footer_all_rights_reserved" }}</small>{{ end }}
        {{ with .Site.Params.privacy_policy }}<small class="ml-1"><a href="{{ . }}" target="_blank" rel="noopener">{{ T "footer_privacy_policy" }}</a></small>{{ end }}
	{{ if not .Site.Params.ui.footer_about_disable }}
		{{ with .Site.GetPage "about" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
	{{ end }}
      </div>
    </div>
  </div>
</footer>
{{ define "footer-links-block" }}
<ul class="list-unstyled">
  <h3>{{ .title }}</h3>
  {{ range .links }}
  <li>
    {{ if .desc }}
    {{ .name }}: <a target="_blank" rel="noopener" href="{{ .url }}" aria-label="{{ .name }}">{{ .desc }}</a>
    {{ else if .icon }}
    <a target="_blank" rel="noopener" href="{{ .url }}" aria-label="{{ .name }}"><i class="{{ .icon }} fa-fw"></i> {{ .name }}</a>
    {{ else }}
    <a target="_blank" rel="noopener" href="{{ .url }}" aria-label="{{ .name }}">{{ .name }}</a>
    {{ end }}
  </li>
  {{ end }}
</ul>
{{ end }}
